#print {
  display:none;
}

.recording {
  color: #ff2222;
}

a[disabled] {
  color: #cccccc
}

#qrpreview  {
    width: 15px;
    left: -52px;
    position: relative;
    top: -20px;
}
img[src=""] {
   display: none;
}

#shareurl {
  min-height: 16px;
}